<!--Loader component-->
<app-loader></app-loader>
<!--Audit plan process add page elements-->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{auditProcessLabel}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="zmdi zmdi-close"></i>
  </button>
</div>
<div class="modal-body">
  <form class="audit-team-form modal-form" #auditProcessAddEditForm="ngForm" *ngIf="auditProcessObject !== undefined">
    <div class="form-group  mb-15">
      <label class="form-label required mb-10">{{processNameLabel}}</label>
      <input type="text" class="form-control"  [(ngModel)]="auditProcessObject.name" name="auditProcessName" #auditProcessName="ngModel" required appValidateMaxLength="140"/>
      <div class="feedback-box" *ngIf="auditProcessName.errors  && auditProcessObject !== undefined">
        <p class="mb-0 invalid-feedback" *ngIf="auditProcessName.touched && !auditProcessName.valid && auditProcessName.errors.required">{{requiredMessage}}</p>
        <p class="mb-0 invalid-feedback" appValidateMaxLength *ngIf="auditProcessName.touched && !auditProcessName.errors.required">{{maxLengthExceedMessage}}</p>
      </div>
    </div>
    <button class="btn form-btn mt-20" (click)="saveAuditProcess()" [disabled]="auditProcessAddEditForm.invalid">
      <img src="../../assets/images/save.png" alt="{{saveButtonText}}" class="align-top" />
      {{saveButtonText}}
    </button>
  </form>
</div>




