<!--Loader component-->
<app-loader></app-loader>

<!-- ACM list page -->
<div class="sector-list-page response-survey-main">
  <h4 class="page-title mb-25 ml-20">{{acmTitle}}</h4>
  <div class="page-container">
    <div class="top-contents mb-10">
      <div class="search-box">
        <input class="form-control search-control pl-30" placeholder="{{searchText}}" [(ngModel)]="searchValue"
               (keydown.Tab)="searchACM($event,null, selectedPageItem, searchValue)"
               (keypress)="searchACM($event,null, selectedPageItem, searchValue)">
        <i class="zmdi zmdi-search"></i>
      </div>
      <div class="right-contents">
        <button class="btn btn-icon  p-0" tooltip="{{excelToolTip}}" (click)="exportToExcel()">
          <img src="../assets/images/excel.png" alt="{{excelToolTip}}" />
        </button>
        <button class="btn dark-bg-btn p-0 ml-10" (click)="openAddACM()" tooltip="{{addToolTip}}">
          <i class="zmdi zmdi-plus-circle"></i>
        </button>
      </div>
    </div>
    <!--Table contents-->
    <div class="table-container table-responsive">
      <table class="table table-striped acm-list">
        <thead>
          <tr>
            <th class="w-15">{{headingLabel}}</th>
            <th class="w-10">{{ratingLabel}}</th>
            <th class="w-10">{{implicationTitle}}</th>
            <th class="w-20" colspan="3">{{statusTitle}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="acmList.length===0">
            <td colspan="8"><p class="no-record">{{showNoDataText}}</p></td>
          </tr>
          <tr *ngFor="let acmItem of acmList | paginate: { itemsPerPage: selectedPageItem, currentPage: pageNumber, totalItems:totalRecords}">
            <td class="w-15" title="{{acmItem.heading}}"><p class="desc-text mb-0">{{acmItem.heading}}</p></td>
            <td class="w-10">{{acmItem.ratings}}</td>
            <td class="w-10" title="{{acmItem.implication}}"><p class="desc-text mb-0">{{acmItem.implication}}</p></td>
            <td class="w-10">{{acmItem.statusString}}</td>
            <td class="w-10">

              <p class="mb-0 strategic-popover w-120">
                <span class="cursor-pointer" [popover]="popTemplate"
                      placement="bottom" [outsideClick]="true" *ngIf="(acmItem.acmDocuments !== null) && acmItem.acmDocuments.length > 0">
                  <i class="zmdi zmdi-file-text"></i><span class="mrl-5">{{viewFiles}}</span>
                  <i class="zmdi zmdi-caret-down"></i>
                </span>
              </p>

              <ng-template #popTemplate>
                <ul class="uploaded-files-list mb-0">
                  <li class="clearfix" *ngFor="let file of acmItem.acmDocuments; let index = index">
                    <button class="btn btn-icon download-btn d-inline-block align-middle">
                      <!--Word icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,wordType)">
                        <img class="download-opt-img" src="../assets/images/word.png" alt="{{wordToolTip}}" />
                      </ng-template>
                      <!--Pdf icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,pdfType)">
                        <img class="download-opt-img" src="../assets/images/pdf.png" alt="{{pdfToolTip}}" />
                      </ng-template>
                      <!--Ppt icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,pptType)">
                        <img class="download-opt-img" src="../assets/images/powerpoint.png" alt="{{powerPointToolTip}}" />
                      </ng-template>
                      <!--Excel icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,excelType)">
                        <img class="download-opt-img" src="../assets/images/excel.png" alt="" />
                      </ng-template>
                      <!--JPG icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,jpgType)">
                        <img class="download-opt-img" src="../assets/images/jpg.png" alt="" />
                      </ng-template>
                      <!--PNG icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,pngType)">
                        <img class="download-opt-img" src="../assets/images/png.png" alt="" />
                      </ng-template>
                      <!--GIF icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,gifType)">
                        <img class="download-opt-img" src="../assets/images/gif.png" alt="" />
                      </ng-template>
                      <!--other icon-->
                      <ng-template [ngIf]="checkFileExtention(file.fileName,otherFileType)">
                        <img class="download-opt-img" src="../assets/images/default-file.png" alt="" />
                      </ng-template>
                    </button>
                    <p class="d-inline-block align-middle file-name" title="{{file.fileName}}">{{file.fileName}}</p>
                    <div class="pull-right">
                      <a class="upload-file-action d-inline-block align-middle" (click)="viewFile(file.documentPath)">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <a class="upload-file-action d-inline-block align-middle" (click)="downloadFile(file.id)">
                        <i class="zmdi zmdi-download"></i>
                      </a>
                      <a class="upload-file-action d-inline-block align-middle" (click)="openDeleteModal(acmItem,file.id)">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                    </div>
                  </li>

                </ul>
              </ng-template>
            </td>
            <td class="w-10 text-right">
              <div class="table-action-btn">
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{addTableToolTip}}" (click)="openAddTableDialog(acmItem.id)">
                  <i class="zmdi zmdi-grid"></i>
                </a>
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{editToolTip}}" (click)="editACMId(acmItem.id)">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a class="d-inline-block align-middle mr-10 action-icon" (click)="openDeleteModalACM(acmItem.id)" tooltip="{{deleteToolTip}}">
                  <i class="zmdi zmdi-delete"></i>
                </a>
                <a class="d-inline-block align-middle  action-icon" [outsideClick]="true" [popover]="downloadOptionsTemplate" placement="bottom">
                  <i class="zmdi zmdi-download"></i>
                </a>
                <ng-template #downloadOptionsTemplate>
                  <button class="btn btn-icon btn-download  d-inline-block p-0" (click)="createACMPPT(acmItem.id)">
                    <img class="download-opt-img" src="../assets/images/powerpoint.png" alt="{{powerPointToolTip}}" />
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Table footer contens-->
    <div class="table-footer row clearfix" *ngIf="acmList.length!==0">
      <div class="table-pagination col-sm-7">
        <pagination-controls [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      <div class="right-contents col-sm-5 text-right">
        <div class="d-inline-block">
          <ng-select #select [items]="pageItems" [searchable]="false" [(ngModel)]="selectedPageItem"
                     (change)="onPageItemChange()" bindLabel="item" bindValue="noOfItems">
          </ng-select>
        </div>
        <div class="d-inline-block ml-10">
          <p class="mb-0 showing-results-text mt-5 align-middle">{{showingResults}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
