<!-- Audit plan process list page contents -->
<div class="documents-list-page">
  <h4 class="page-title mb-25 ml-20">{{documentsTitle}}</h4>
  <div class="page-container">
    <div class="top-contents mb-10">
      <div class="search-box">
        <input class="form-control search-control pl-30" placeholder="{{searchText}}" [(ngModel)]="documentSearchValue"
               (keydown.Tab)="searchEntityDocument($event)"
               (keypress)="searchEntityDocument($event)" />
        <i class="zmdi zmdi-search"></i>
      </div>
      <div class="right-contents">

        <button class="btn btn-icon dark-bg-btn p-0 ml-10" tooltip="{{addToolTip}}" (click)="openEntityDocumentAddModal('')">
          <i class="zmdi zmdi-plus-circle"></i>
        </button>
      </div>
    </div>
    <!--Table contents-->
    <div class="table-container table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="w-50">{{purposeTitle}}</th>
            <th class="w-50" colspan="2">{{documentsTitle}}</th>
          </tr>
        </thead>
        <tbody>
          <!--No Record Found-->
          <tr *ngIf="entityDocuemntList.length===0">
            <td colspan="3"><p class="no-record">{{showNoDataText}}</p></td>
          </tr>
          <tr *ngFor="let document of entityDocuemntList | paginate: { itemsPerPage: documentSelectedPageItem, currentPage: pageNumber, totalItems: totalRecords}; let i=index;">
            <td class="w-50" title="{{document.purpose}}"><p class="desc-text mb-0">{{document.purpose}}</p></td>
            <td class="w-45 uploaded-files-list" title="">
              <p class="desc-text d-inline-block align-middle mb-0 file-name-px file-name" title="{{document.fileName}}">{{document.fileName}}</p>
              <a class="d-inline-block align-middle action-icon ml-10" tooltip="{{downloadToolTip}}" (click)="downloadEntityDocumentDoc(document.id)">
                <i class="zmdi zmdi-download"></i>
              </a>
              <a class="d-inline-block align-middle action-icon ml-10" tooltip="{{viewToolTip}}" (click)="openDocument(document.id)">
                <i class="zmdi zmdi-eye"></i>
              </a>
            </td>
            <td class="w-5">
              <div class="table-action-btn">
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{editToolTip}}" (click)="openEntityDocumentAddModal(document.id)">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a class="d-inline-block align-middle action-icon" tooltip="{{deleteToolTip}}" (click)="openDeleteModal(document.id)">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Table footer contens-->
    <div class="table-footer row clearfix" *ngIf="entityDocuemntList.length > 0">
      <!--Note: This code is commented for the reference of developers-->
      <div class="table-pagination col-sm-7">
        <pagination-controls [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      <div class="right-contents col-sm-5 text-right">
        <div class="d-inline-block">
          <ng-select #select [items]="pageItems" [searchable]="false" [(ngModel)]="documentSelectedPageItem" (change)="onPageItemChange()"
                     bindLabel="item" bindValue="noOfItems">
          </ng-select>
        </div>
        <div class="d-inline-block ml-10">
          <p class="mb-0 showing-results-text mt-5 align-middle">{{showingResults}}</p>
        </div>
      </div>

    </div>
    <div class="table-button-section mt-20">
      <div class="d-inline-block align-middle">
        <div class="btn-group">
          <button id="button-basic" type="button" class="btn form-btn" (click)="onSaveClick()">
            <img src="../../assets/images/save.png" alt="{{saveButtonText}}" class="align-top" />
            {{saveButtonText}}
          </button>
        </div>
      </div>
      <div class="d-inline-block align-middle">
        <button class="btn form-btn border-form-btn  d-inline-block ml-20" (click)="onPreviousClick()">
          {{previousButton}}
        </button>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
