@model InternalAuditSystem.Repository.ApplicationClasses.StrategicAnalysisModels.StrategicAnalysisAC
<html>
<head>
    <style>
        html, body {
            font-size: 14px;
        }

        .title {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <table cellpadding='0' cellspacing='0' border='0' style='padding-bottom: 2px;border-bottom:1px solid #ddd;font-family:Arial,Helvetica, sans-serif;font-size:20px;width:100%;'>
        <tr>
            <td style='vertical-align:middle;text-align:left;font-size: 20px;padding-left: 20px;padding-bottom: 10px;display: block;color: #00338D'>
                <span style="margin-bottom: 5px;color: #333 !important;">Survey -</span>
                @Model.SurveyTitle
            </td>
        </tr>
    </table>
    <!-- Page&nbsp;<span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span> -->
</body>
</html>