<!--Mom list page contents-->
<div class="mom-list-page">
  <h4 class="page-title mb-25 ml-20">{{momListPageTitle}}</h4>
  <div class="page-container">
    <div class="top-contents mb-10">
      <div class="search-box">
        <input class="form-control search-control pl-30" placeholder="{{searchText}}" [(ngModel)]="searchValue"
               (keydown.Tab)="searchMoms($event,null, selectedPageItem, searchValue)"
               (keypress)="searchMoms($event,null, selectedPageItem, searchValue)">
        <i class="zmdi zmdi-search"></i>
      </div>
      <div class="right-contents">
        <button class="btn btn-icon p-0" tooltip="{{excelToolTip}}" (click)="exportMoms()">
          <img src="../assets/images/excel.png" alt="{{excelToolTip}}" />
        </button>
        <button class="btn btn-icon dark-bg-btn p-0 ml-10" (click)="openMomAddPage()" tooltip="{{addToolTip}}">
          <i class="zmdi zmdi-plus-circle"></i>
        </button>
      </div>
    </div>

    <!--Table contents-->
    <div class="table-container table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="w-35">{{workProgramTitle}}</th>
            <th class="w-30">{{agendaTitle}}</th>
            <th class="w-40" colspan="3">{{dateLabel}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="momList.length===0">
            <td colspan="4"><p class="no-record">{{showNoDataText}}</p></td>
          </tr>
          <tr *ngFor="let mom of momList| paginate: { itemsPerPage: selectedPageItem, currentPage: pageNumber, totalItems:totalRecords}">
           <td hidden>{{mom.id}}</td>
            <td class="w-35" title="{{mom.workProgramAc.name}}"><p class="desc-text mb-0">{{mom.workProgramAc.name}}</p></td>
            <td class="w-30" title="{{mom.agenda}}" ><p class="desc-text mb-0" >{{mom.agenda}}</p></td>
            <td class="w-20">{{mom.momDate|date:'dd-MM-yyyy'}}</td>
            <td class="w-15">
              <div class="table-action-btn d-inline-block">
                  <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{outlookToolTip}}" (click)="openOutlook(mom.id)" >
                    <img src="../assets/images/outlook.png" alt="{{outlookToolTip}}" />
                  </a>
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{pdfToolTip}}" (click)="generatePdf(mom.id)">
                  <img src="../assets/images/pdf.png" alt="{{pdfToolTip}}" />
                </a>
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{editToolTip}}" (click)="editMom(mom.id)">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a class="d-inline-block align-middle action-icon" tooltip="{{deleteToolTip}}" (click)="deleteMom(mom.id)">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
    <!--Table footer contens-->
    <div class="table-footer row clearfix" *ngIf="momList.length>0">
      <div class="col-sm-7">
        <pagination-controls [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      <div class="right-contents col-sm-5 text-right">
        <div class="d-inline-block">
          <ng-select #select [items]="pageItems" [searchable]="false" [(ngModel)]="selectedPageItem"
                     (change)="onPageItemChange()"
                     bindLabel="item" bindValue="noOfItems">
          </ng-select>
        </div>
        <div class="d-inline-block ml-10">
          <p class="mb-0 showing-results-text mt-5 align-middle">{{showingResults}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Loader component-->
    <app-loader></app-loader>
