<!--Loader component-->
<app-loader></app-loader>

<!-- Process list page contents -->
<div class="Process-list-page">
  <h4 class="page-title mb-25 ml-20">{{rcmProcessTitle}}</h4>
  <div class="page-container">
    <div class="top-contents mb-10">
      <div class="search-box">
        <input class="form-control search-control pl-30" placeholder="{{searchText}}" [(ngModel)]="searchValue"
               (keydown.Tab)="searchRcmProcess($event,null, selectedPageItem, searchValue)"
               (keypress)="searchRcmProcess($event,null, selectedPageItem, searchValue)">
        <i class="zmdi zmdi-search"></i>
      </div>
      <div class="right-contents">
        <button class="btn btn-icon  p-0" tooltip="{{excelToolTip}}" (click)="exportToExcel()">
          <img src="../assets/images/excel.png" alt="{{excelToolTip}}" />
        </button>
        <button class="btn btn-icon dark-bg-btn p-0 ml-10" (click)="openAddRcmProcess()" tooltip="{{addToolTip}}">
          <i class="zmdi zmdi-plus-circle"></i>
        </button>
      </div>
    </div>
    <!--Table contents-->
    <div class="table-container table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">{{rcmProcessTitle}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="rcmProcessList.length===0">
            <td colspan="5"><p class="no-record">{{showNoDataText}}</p></td>
          </tr>
          <tr *ngFor="let process of rcmProcessList | paginate: { itemsPerPage: selectedPageItem, currentPage: pageNumber, totalItems:totalRecords}">
            <td class="w-95" title="{{process.process}}"><p class="desc-text mb-0">{{process.process}}</p></td>
            <td class="w-5">
              <div class="table-action-btn">
                <a class="d-inline-block align-middle mr-10 action-icon" tooltip="{{editToolTip}}" (click)="editRcmProcess(process.id)">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a class="d-inline-block align-middle action-icon" tooltip="{{deleteToolTip}}" (click)="deleteRcmProcess(process.id)">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--Table footer contents-->
    <div class="table-footer row clearfix" *ngIf="rcmProcessList.length>0">
      <div class="col-sm-7">
        <pagination-controls [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      <div class="right-contents col-sm-5 text-right">
        <div class="d-inline-block">
          <ng-select #select [items]="pageItems" [searchable]="false" [(ngModel)]="selectedPageItem"
                     (change)="onPageItemChange()"
                     bindLabel="item" bindValue="noOfItems">
          </ng-select>
        </div>
        <div class="d-inline-block ml-10">
          <p class="mb-0 showing-results-text mt-5 align-middle">{{showingResults}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
