<!--Loader component-->
<app-loader></app-loader>
<!--Auditable entity region type add page elements-->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{regionText}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="zmdi zmdi-close"></i>
  </button>
</div>
<div class="modal-body">
  <form class="audit-team-form modal-form"  #regionAddEditForm="ngForm">
    <div class="form-group  mb-15">
      <label class="form-label required mb-10">{{regionText}}</label>
      <input type="text" class="form-control" [(ngModel)]="regionObject.name" name="regionName" #regionName="ngModel" required appValidateMaxLength="256" />
      <div class="feedback-box" *ngIf="regionName.errors  && regionObject !== undefined">
        <p class="mb-0 invalid-feedback" *ngIf="regionName.touched && !regionName.valid && regionName.errors.required">{{requiredMessage}}</p>
        <p class="mb-0 invalid-feedback" appValidateMaxLength *ngIf="regionName.touched && !regionName.errors.required">{{maxLengthExceedMessage}}</p>
        <p class="mb-0 invalid-feedback" appValidateCommnInput *ngIf="regionName.touched && !regionName.errors.required && regionName.errors?.pattern ">{{patternValidatorMessage}}></p>
      </div>
    </div>
    <button class="btn form-btn mt-20" (click)="saveRegion()" [disabled]="regionAddEditForm.invalid">
      <img src="../../assets/images/save.png" alt="{{saveButtonText}}" class="align-top" />
      {{saveButtonText}}
    </button>
  </form>
</div>
