<!--Loader component-->
<app-loader></app-loader>
<!--Audit plan documents add page elements-->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{documentsLabel}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="reloadListPageOnClose()">
    <i class="zmdi zmdi-close"></i>
  </button>
</div>
<div class="modal-body" #planDocument>
  <form #planDocumentAddEditForm="ngForm">
    <div class="modal-form">
      <!--Purpose-->
      <div class="form-group mb-15">
        <label class="form-label required">{{purposeLabel}}</label>
        <textarea class="small-txt-area form-control" [(ngModel)]="planDocumentObj.purpose" name="purpose" #purpose="ngModel" required appValidateMaxLength="256"></textarea>
        <div class="" *ngIf="purpose.errors  && planDocumentObj !== undefined">
          <p class="mb-0 invalid-feedback" *ngIf="purpose.touched && !purpose.valid && purpose.errors.required">{{requiredMessage}}</p>
          <p class="mb-0 invalid-feedback" appValidateMaxLength *ngIf="purpose.touched && !purpose.errors.required">{{maxLengthExceedMessage}}</p>
        </div>
      </div>
      <!--Document upload-->
      <div class="form-group">
        <label class="form-label required">{{documentsLabel}}</label>
        <div class="file-upload-section">
          <!--file choose button and display bar-->
          <input type="text" class="form-control placeholde-input" placeholder="{{chooseFilePlaceHolder}}" />
          <input type="file" class="form-control file-upload-input" name="uploadFile" (change)="uploadFileTemporaryOnChoose($event)" required />
          <p class="mb-0 invalid-feedback" *ngIf="(planDocumentFilesList.length === 0 && planDocumentObjList.length === 0)">{{requiredMessage}}</p>
          <button class="btn file-upload-button">{{chooseFileButtonText}}</button>
          <!--Uploaded document display list-->
          <ul class="uploaded-files-list mb-0" *ngIf="planDocumentFilesList.length !== 0 || planDocumentObjList.length !== 0">
            <li class="clearfix" *ngFor="let index = index;let file of planDocumentFilesList">
              <!--For Displaying file icon-->
              <button class="btn btn-icon download-btn d-inline-block align-middle mr-10 p-0">
                <!--Word icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,wordType)">
                  <img class="download-opt-img" src="../../../../assets/images/word.png" alt="{{wordToolTip}}" />
                </ng-template>
                <!--Pdf icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,pdfType)">
                  <img class="download-opt-img" src="../../../../assets/images/pdf.png" alt="{{pdfToolTip}}" />
                </ng-template>
                <!--Ppt icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,pptType)">
                  <img class="download-opt-img" src="../../../../assets/images/powerpoint.png" alt="{{powerPointToolTip}}" />
                </ng-template>
                <!--Excel icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,excelType)">
                  <img class="download-opt-img" src="../../../../assets/images/excel.png" alt="" />
                </ng-template>
                <!--JPG icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,jpgType)">
                  <img class="download-opt-img" src="../../../../assets/images/jpg.png" alt="" />
                </ng-template>
                <!--PNG icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,pngType)">
                  <img class="download-opt-img" src="../../../../assets/images/png.png" alt="" />
                </ng-template>
                <!--GIF icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,gifType)">
                  <img class="download-opt-img" src="../../../../assets/images/gif.png" alt="" />
                </ng-template>
                <!--Zip icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,zipType)">
                  <img class="download-opt-img" src="../../../../assets/images/zip.png" alt="" />
                </ng-template>
                <!--MP3 icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,mp3Type)">
                  <img class="download-opt-img" src="../../../../assets/images/mp3.png" alt="" />
                </ng-template>
                <!--MP4 icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,mp4Type)">
                  <img class="download-opt-img" src="../../../../assets/images/mp4.png" alt="" />
                </ng-template>
                <!--SVG icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,svgType)">
                  <img class="download-opt-img" src="../../../../assets/images/svg.png" alt="" />
                </ng-template>
                <!--CSV icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,csvType)">
                  <img class="download-opt-img" src="../../../../assets/images/csv.png" alt="" />
                </ng-template>
                <!--other icon-->
                <ng-template [ngIf]="checkFileExtention(file.name,otherFileType)">
                  <img class="download-opt-img" src="../../../../assets/images/default-file.png" alt="" />
                </ng-template>
              </button>
              <p class="d-inline-block align-middle file-name" title="{{file.name}}">{{file.name}}</p>
              <!--Display view,download,delete icon-->
              <div class="pull-right">
                <a class="upload-file-action d-inline-block align-middle" (click)="deleteFile(index)">
                  <i class="zmdi zmdi-delete align-middle"></i>
                </a>
              </div>
            </li>
            <li class="clearfix" *ngFor="let index = index;let file of planDocumentObjList">
              <!--For Displaying file icon-->
              <button class="btn btn-icon download-btn d-inline-block align-middle mr-10 p-0">
                <!--Word icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,wordType)">
                  <img class="download-opt-img" src="../../../../assets/images/word.png" alt="{{wordToolTip}}" />
                </ng-template>
                <!--Pdf icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,pdfType)">
                  <img class="download-opt-img" src="../../../../assets/images/pdf.png" alt="{{pdfToolTip}}" />
                </ng-template>
                <!--Ppt icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,pptType)">
                  <img class="download-opt-img" src="../../../../assets/images/powerpoint.png" alt="{{powerPointToolTip}}" />
                </ng-template>
                <!--Excel icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,excelType)">
                  <img class="download-opt-img" src="../../../../assets/images/excel.png" alt="" />
                </ng-template>
                <!--JPG icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,jpgType)">
                  <img class="download-opt-img" src="../../../../assets/images/jpg.png" alt="" />
                </ng-template>
                <!--PNG icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,pngType)">
                  <img class="download-opt-img" src="../../../../assets/images/png.png" alt="" />
                </ng-template>
                <!--GIF icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,gifType)">
                  <img class="download-opt-img" src="../../../../assets/images/gif.png" alt="" />
                </ng-template>
                <!--Zip icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,zipType)">
                  <img class="download-opt-img" src="../../../../assets/images/zip.png" alt="" />
                </ng-template>
                <!--MP3 icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,mp3Type)">
                  <img class="download-opt-img" src="../../../../assets/images/mp3.png" alt="" />
                </ng-template>
                <!--MP4 icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,mp4Type)">
                  <img class="download-opt-img" src="../../../../assets/images/mp4.png" alt="" />
                </ng-template>
                <!--SVG icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,svgType)">
                  <img class="download-opt-img" src="../../../../assets/images/svg.png" alt="" />
                </ng-template>
                <!--CSV icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,csvType)">
                  <img class="download-opt-img" src="../../../../assets/images/csv.png" alt="" />
                </ng-template>
                <!--other icon-->
                <ng-template [ngIf]="checkFileExtention(file.path,otherFileType)">
                  <img class="download-opt-img" src="../../../../assets/images/default-file.png" alt="" />
                </ng-template>
              </button>
              <p class="d-inline-block align-middle file-name" title="{{file.fileName}}">{{file.fileName}}</p>
              <!--Display view,download,delete icon-->
              <div class="pull-right">
                <a class="upload-file-action d-inline-block align-middle" (click)="viewFile(file.path)">
                  <i class="zmdi zmdi-eye align-middle"></i>
                </a>
                <a class="upload-file-action d-inline-block align-middle" (click)="downloadFile(file.id)">
                  <i class="zmdi zmdi-download align-middle"></i>
                </a>
                <a class="upload-file-action d-inline-block align-middle" (click)="deleteFile(index)">
                  <i class="zmdi zmdi-delete align-middle"></i>
                </a>
              </div>
            </li>
          </ul>
          <p class="invalid-feedback mb-0" *ngIf="isFileUploaded">{{maxDocumentRestrictionMsg}}</p>
        </div>
      </div>
    </div>
    <button class="btn form-btn mt-20" (click)="saveUploadedDocument()" [disabled]="(planDocumentAddEditForm.invalid || (planDocumentFilesList.length === 0 && planDocumentObjList.length ===0))">
      <img src=".../../../../assets/images/save.png" alt="{{saveButtonText}}" class="align-top" />
      {{saveButtonText}}
    </button>
  </form>
</div>
